/** {
    border: 1px solid red !important;
}*/

* {
    font-family: Lato, sans-serif;
    margin:none;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/*@media only screen and (max-width: 500px) {
    p {
        display:none;
    }
}*/

#toprow {
    background-color: gray;
    height:200px;

}

#toprow_img {
        padding-left:0px;
}


.style1 {
    background-color: #446455;
}

.style2{
    background-color: #FDD262;
}

.style3{
    background-color: #D3DDDC
}

.style4 {
    background-color: #C7B19C;
}

.title{
    text-align: right;
}

.name{
    text-align: right;
}