html, body  { 
    height: 100%; 
    padding: 0; 
    margin: 0; 
}



.card { 
    width: 90%; 
    height: 50%; 
    float: left;
    margin: 15px 30px 15px 30px;

    
}   




.blue {
    background-color: dodgerblue;
        border: solid 4px black;
}

.green {
    background-color: darkseagreen;
        border: solid 4px black;
}

.red {
    background-color: lightpink;
        border: solid 4px black;
        
}

.yellow {
    background-color: gold;
        border: solid 4px black;
}

.gray {
    background-color: lightgray;
    border: solid 4px black;
    
}

